@import "~bootstrap/scss/bootstrap.scss";
.wrapper {
  background-color: rgb(228, 186, 186);
  margin: auto;
  width: 34%;
  height: 600px;
  border: 3px solid black;
  box-shadow: 10px;
  padding: 10px;
}

#servicequal {
  font-size: 25px;
}
